<script src="{{ 'parse-query.js' | asset_url }}" defer></script>

<div style="position: fixed; bottom: 0; right: 0; height: 50px; width: 100px; text-align: center; background: #999">
  This is an app embed block
</div>

{% schema %}
{
  "name": "Test App Embed",
  "target": "body",
  "settings": []
}
{% endschema %}
